.navbar-continer {
  margin-left: 9.06rem;
  margin-right: 9.06rem;
  max-width: 1560px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: bold;
  font-size: 1rem;
}

.carosello {
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 176px;
  padding-bottom: 0;
}

.carosello.index {
  background-image: url(../img/home1.jpeg);
}

.carosello.arboricoltura {
  background-image: url(../img/stephen-leonardi-369733.jpg);
  background-position: bottom right;
}

.carosello.chisiamo {
   background-image: url(../img/photo-1509825504156-d5113bfa4908.jpeg);
   background-position: center;
}

.carosello.contatti {
  background-image: url(../img/brandon-green-321795.jpg);
  background-position: center;
}

.carosello.servizi {
  background-image: url(../img/photo-1420442442888-15c96323ec3c.jpeg);
  background-position: center;
}

.carosello__text {
  background: rgba(0, 0, 0, .4);
  display: inline-block;
}

.carosello::after {
  display: block;
  content: "";
  width: 100%;
  height: 194px;
  background: transparent url('../img/patternsbianco.png') bottom center no-repeat;
  background-size: 1525px 150px;
}
